html, body {

    height: 100%;

    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}


body{

display: flex;

flex-direction: column;

border: solid black 1px;

}


.menu, .bodydiv, .footer {

border: solid black 1px;

}


.menu {

flex-grow:1;

position:sticky;

top:0;

}


main{

flex-grow: 1000;
margin: 0;
}


.footer {
    background-color: #ffffff;

flex-grow:1;

position:sticky;

bottom:0;

}


main{

display:flex;
margin:0;

}


.columna1{

background-color:#616161;

width:20%;}


.columna2{

background-color:#ededed;

width:80%;}

.columna2resume {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 5px;
    margin:0;
}


.content { /*mirar quadrants*/

background-color:#808080;

border: solid black 1px;

border-radius: 10px;

width: 50%;

height: 50%;

margin-top:5%;

margin-left:5%;

}


.form-content { /*mirar quadrants*/
    margin: 30%;
    margin-top:3%;
    padding: 3%;

    border-radius: 10px;

    background-color:#bbe8ba;
    
    border: solid black 1px;
           
    display: flex;
    
    flex-direction: column;
    
    /*flex-wrap: wrap;*/
    align-items: center;
    
    
    }



.menu{height: 3%;

display:flex;

justify-content: space-evenly;

background-color:grey;

align-items: center;


}


.menu>h3{

padding-left: 1%;

padding-right: 1%;

border:solid black 1px;

color: white;

}


.menu>h3:hover{

border:solid red 3px;

color:black;

background-color: cyan;

cursor:pointer;

}

form>input, form>label, form>br {
    padding:5px;
    margin:5px;
}

.heading {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(241, 122, 122);
    
}

.Name, .contactInfo{
   margin:auto;
   padding: 10px;
   }
.Name {    
    font-weight: 800;
 }

.education {
    display: flex;
    background-color:rgb(236, 236, 158);
}

.education1 {
    width: 20%;
    margin: auto;
}

.education2 {
    width: 80%;
    padding: 10px;
}


.certification {
    background-color: pink;
}

.certificationP1, .experienceTitle, .educationTitle {/*certification and skills*/
    text-align: center;
}

.certificationP2 {
    padding: 10px;
    text-align: justify;
}

.experience {
    background-color: rgb(212, 170, 241);
    display: flex;
}

.experience1 {
    width: 20%;
    margin: auto;
    padding:10px;
}

.experience2 {
    width: 80%;
    margin: auto;
    padding:10px;
}

.experience2 p {
    text-align: center;
}

.food {
    background-color: lavenderblush;
    display: flex;
}

.food1 {
    width: 20%;
    margin: auto;
    padding:10px;
}

.food2 {
    width: 80%;
    margin: auto;
    padding:10px;
}

.food2 p {
    text-align: center;
}

.data {
    background-color: lightsalmon;
    display: flex;
}
.data1 {
    width: 20%;    
    margin: auto;
    padding:10px;
}

.data2 {
    width: 80%;
    margin: auto;
    padding:10px;
}

.data2 p {
    text-align: center;
}

.groupManager {
   
    display: flex;
}
.groupManager1 {
     width: 20%;
     margin: auto;
     padding:10px;
}
    
.groupManager2 {
    width: 80%;
    margin: auto;
    padding:10px;
}

.groupManager2 p {
    text-align: center;
}